n8n Workflows/Patient_Reminder____2care_ai.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "a785b62b-7721-4bb0-b723-99648c3e5a36",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        700,
        520
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7OPXD06PT9FB8p",
          "mode": "list",
          "cachedResultName": "vapi-voice-agents",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p"
        },
        "table": {
          "__rl": true,
          "value": "tblHKzG5xbBCrMRMR",
          "mode": "list",
          "cachedResultName": "Patient Info",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p/tblHKzG5xbBCrMRMR"
        },
        "filterByFormula": "{Patient_reminder_call} = \"No\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        920,
        520
      ],
      "id": "2b22393e-0240-4a0e-b897-08a888e568b0",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "7Y0w630yoXHgFYLG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1140,
        520
      ],
      "id": "00159817-669f-465a-bc8d-3e631d1f9a07",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1580,
        440
      ],
      "id": "581e6d1a-de8d-475e-aef5-034712e478fb",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const iso = item.json.currentDate;\n\n  // Extract date and time directly from the ISO string\n  const [datePart, timePartWithOffset] = iso.split('T');\n  const timePart = timePartWithOffset.split('+')[0].slice(0, 5); // HH:MM\n\n  return {\n    json: {\n      currentDate: datePart,\n      currentTime: timePart\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        440
      ],
      "id": "ea415a14-347d-42a0-a86d-97ed2d66a393",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const currentDate = $input.first().json.currentDate;    // Format: YYYY-MM-DD\nconst currentTime = $input.first().json.currentTime;    // Format: HH:mm (24-hour)\nconst appointmentDate = $('Edit Fields').first().json.Appointment_date;\nconst appointmentTimeRaw = $('Edit Fields').first().json.Appointment_time;\n\n// Normalize time string based on whether it includes am/pm\nfunction parseAppointmentTime(timeStr) {\n  if (!timeStr) return null;\n  let time = timeStr.trim().toLowerCase();\n\n  // Handle 12-hour format if it has am/pm\n  if (/(am|pm)/.test(time)) {\n    // Ensure proper spacing (e.g., \"2pm\" → \"2 pm\", \"2:15pm\" → \"2:15 pm\")\n    time = time.replace(/(\\d)(am|pm)/, '$1 $2');\n    time = time.replace(/(\\d:\\d{2})(am|pm)/, '$1 $2');\n\n    const date = new Date(`1970-01-01T${time}`);\n    if (!isNaN(date)) {\n      const hh = date.getHours().toString().padStart(2, '0');\n      const mm = date.getMinutes().toString().padStart(2, '0');\n      const ss = date.getSeconds().toString().padStart(2, '0');\n      return `${hh}:${mm}:${ss}`;\n    }\n  }\n\n  // Handle 24-hour format\n  const parts = time.split(\":\");\n  if (parts.length === 2) {\n    const hh = parts[0].padStart(2, '0');\n    const mm = parts[1].padStart(2, '0');\n    return `${hh}:${mm}:00`;\n  } else if (parts.length === 3) {\n    const hh = parts[0].padStart(2, '0');\n    const mm = parts[1].padStart(2, '0');\n    const ss = parts[2].padStart(2, '0');\n    return `${hh}:${mm}:${ss}`;\n  }\n\n  return null; // fallback for invalid time\n}\n\nconst appointmentTimeFormatted = parseAppointmentTime(appointmentTimeRaw);\nconst currentDateTimeStr = `${currentDate}T${currentTime}:00`;\nconst appointmentDateTimeStr = `${appointmentDate}T${appointmentTimeFormatted}`;\n\nconst currentDateTime = new Date(currentDateTimeStr);\nconst appointmentDateTime = new Date(appointmentDateTimeStr);\n\nif (isNaN(currentDateTime.getTime()) || isNaN(appointmentDateTime.getTime())) {\n  return {\n    json: {\n      error: \"Invalid date format detected\",\n      currentDateTime: null,\n      appointmentDateTime: null,\n      diffHours: null,\n      callPatient: false\n    }\n  };\n}\n\nconst diffMs = Math.abs(appointmentDateTime - currentDateTime);\nconst diffHours = diffMs / (1000 * 60 * 60);\nconst isAppointmentInFuture = appointmentDateTime > currentDateTime;\n\nreturn {\n  json: {\n    currentDateTime: currentDateTime.toISOString(),\n    appointmentDateTime: appointmentDateTime.toISOString(),\n    diffHours: Math.round(diffHours * 100) / 100,\n    callPatient: isAppointmentInFuture && diffHours <= 2\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        440
      ],
      "id": "8e4040b3-7df4-4478-b685-fece47d810c5",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40003cb3-f076-4498-a231-efa30a001f29",
              "name": "Appointment_date",
              "value": "={{ $json[\"Appointment date\"] }}",
              "type": "string"
            },
            {
              "id": "b029b3c3-dfd2-4c45-97d1-45c5c7404d62",
              "name": "Appointment_time",
              "value": "={{ $json[\"Appointment time\"] }}",
              "type": "string"
            },
            {
              "id": "004d7a7e-83f3-4a73-b49f-3d7da82108cf",
              "name": "Patient_reminder_call",
              "value": "={{ $json.Patient_reminder_call }}",
              "type": "string"
            },
            {
              "id": "196f0e6f-080d-48c2-9cff-63c1424d2017",
              "name": "Reason_for_visit",
              "value": "={{ $json[\"Reason for call\"] }}",
              "type": "string"
            },
            {
              "id": "cad16ae5-3b41-489e-b803-409fbca95bca",
              "name": "Mob No",
              "value": "=+91{{ $json[\"Whatsapp number\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        440
      ],
      "id": "2fc9df77-e7b3-498a-a4a3-1c6bb69ee713",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6ddb093-8e5b-40a8-bbee-30e83e77855c",
              "leftValue": "={{ $json.callPatient }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2240,
        520
      ],
      "id": "5b2d1dfb-0ded-4331-849a-c7c27c3865fc",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2680,
        520
      ],
      "id": "62878495-3ea4-459b-bd80-6a94305567b4",
      "name": "Wait for Call to Complete",
      "webhookId": "916d934d-c834-4391-a943-2c64a9ae83fd"
    },
    {
      "parameters": {
        "url": "=https://api.vapi.ai/call/{{ $('Make Appointment Call (Priya)').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 377a1e6c-879d-422d-8966-8e490e38ad3d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        520
      ],
      "id": "63a9f929-494e-4e06-b705-192b671de074",
      "name": "Get Call Transcript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $('Get Call Transcript').item.json.status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3120,
        440
      ],
      "id": "0a7c962a-874f-41e6-ac74-8df50b38cf52",
      "name": "Check Call Status"
    },
    {
      "parameters": {
        "jsCode": "// Extract and format the transcript\nconst callData = $input.all()[0].json;\nconst transcript = callData.transcript || callData.messages || [];\n\n// Format transcript for readability\nlet formattedTranscript = \"Call Transcript:\\n\\n\";\n\nif (Array.isArray(transcript)) {\n  transcript.forEach((message, index) => {\n    formattedTranscript += `${message.role || 'Unknown'}: ${message.message || message.content || message.text}\\n`;\n  });\n} else if (typeof transcript === 'string') {\n  formattedTranscript += transcript;\n}\n\nreturn {\n  callId: callData.id,\n  customerName: callData.customer?.name,\n  customerNumber: callData.customer?.number,\n  status: callData.status,\n  duration: callData.duration,\n  cost: callData.cost,\n  transcript: formattedTranscript,\n  rawCallData: callData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        400
      ],
      "id": "6b80e4b4-8288-4a24-9dcd-37add9dfdd3f",
      "name": "Format Transcript"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3340,
        620
      ],
      "id": "ea398eda-4baf-41a4-a552-134b8e1d45c4",
      "name": "Wait Before Retry",
      "webhookId": "2b344315-8e59-4d84-accc-544645470997"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transcript: {{ $json.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI summarizer. Your task is to process the transcript of a pre-appointment conversation between an AI Assistant and a patient. Summarize only the essential information in a structured JSON format.\n\nWhole Conversation Transcript:\n{{ $json.transcript }}\n\nReturn the output in the following strict format:\n\n{\n  \"appointment_confirmation\": \"Yes\" | \"No\",\n  \"discussion_topics\": [\"<Topic 1>\", \"<Topic 2>\", \"...\"],\n  \"additional_notes\": \"<Any other relevant information or 'None'>\",\n  \"reason_for_visit\": \"<Any other relevant information or 'None'>\",\n  \"summary\": \"call_conversation_summarisation\"\n}\n\n\nGuidelines:\nBe concise, accurate, and professional.\n\nFocus only on medically or logistically relevant details.\n\nIgnore small talk or casual conversation.\n\nDo not make assumptions or provide medical advice.\n\nIf a field is not mentioned in the conversation, use \"None\" for text fields or an empty array [] for lists."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3560,
        400
      ],
      "id": "711e3dc1-73cb-4ae0-8249-23debb81acf4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3600,
        620
      ],
      "id": "9eb2d88e-c254-4f28-993f-d05fd2945eeb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GrzkhvRN9DytMspc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"appointment_confirmation\": \"Yes\",\n  \"discussion_topics\": [\"Dental\", \"Tooth Pain\"],\n  \"additional_notes\": \"None\",\n  \"reason_for_visit\": \"Tooth pain and general dental checkup\",\n  \"summary\": \"Call was to confirm the patient's attendance for a dental checkup and address their concern about tooth pain.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3720,
        620
      ],
      "id": "1241acd7-2b0c-4e01-9093-98c9e7769145",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7OPXD06PT9FB8p",
          "mode": "list",
          "cachedResultName": "vapi-voice-agents",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p"
        },
        "table": {
          "__rl": true,
          "value": "tblEw51y6VS6K5ZA3",
          "mode": "list",
          "cachedResultName": "Patient Reminder",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p/tblEw51y6VS6K5ZA3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Airtable1').item.json.Email }}",
            "Name": "={{ $('Airtable1').item.json.Name }}",
            "Appointment_date": "={{ $('Airtable1').item.json[\"Appointment date\"] }}",
            "Appointment_time": "={{ $('Airtable1').item.json[\"Appointment_time\"] }}",
            "Discussion Topic": "={{ $json.output.discussion_topics }}",
            "Summary": "={{ $json.output.summary }}",
            "Reason for call": "={{ $json.output.reason_for_visit }}",
            "Visit or not": "={{ $json.output.appointment_confirmation }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Appointment_date",
              "displayName": "Appointment_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Appointment_time",
              "displayName": "Appointment_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Discussion Topic",
              "displayName": "Discussion Topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason for call",
              "displayName": "Reason for call",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Visit or not",
              "displayName": "Visit or not",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4140,
        760
      ],
      "id": "e118f649-b862-40a5-bbba-eaeb4caff428",
      "name": "Airtable2",
      "credentials": {
        "airtableTokenApi": {
          "id": "7Y0w630yoXHgFYLG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        240
      ],
      "id": "85a22426-c737-491a-889c-f5a68ca7da01",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "# 2 Hour Prior Reminder ",
        "height": 80,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        340
      ],
      "id": "11d10b69-45e6-4f3f-a341-36e615dc0f1c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 33ecbf2b-981c-4382-bf87-512ba7407a03"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"assistantId\": \"8dd85fad-76b0-4899-bcea-73608c16b505\",\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"name\": \"{{ $('Airtable1').item.json.Name }}\",\n      \"appointment_date\": \"{{ $('Edit Fields').item.json.Appointment_date }}\",\n      \"appointment_time\": \"{{ $('Edit Fields').item.json.Appointment_time }}\",\n      \"location\": \"Google Meet\",\n      \"appointment_type\": \"{{ $('Edit Fields').item.json.Reason_for_visit }}\",\n      \"email\": \"{{ $('Airtable1').item.json.Email }}\"\n    }\n  },\n  \"customer\": {\n    \"number\": \"{{ $('Edit Fields').item.json['Mob No'] }}\"\n  },\n  \"phoneNumberId\": \"8ea87ee3-277a-4776-9e44-cdc99dc6ede1\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        520
      ],
      "id": "564194ee-8326-41ee-8fda-0f5aa14c256a",
      "name": "Make Appointment Call (Priya)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "c365a9e6-8b1d-4cf2-b1c6-ec316069f21e",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        760,
        1400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7OPXD06PT9FB8p",
          "mode": "list",
          "cachedResultName": "vapi-voice-agents",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p"
        },
        "table": {
          "__rl": true,
          "value": "tblEw51y6VS6K5ZA3",
          "mode": "list",
          "cachedResultName": "Patient Reminder",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p/tblEw51y6VS6K5ZA3"
        },
        "filterByFormula": "{Two_week_call} = \"No\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        1400
      ],
      "id": "3683ecd4-179b-4ad4-b33a-57efd7dfbf81",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "7Y0w630yoXHgFYLG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1180,
        1400
      ],
      "id": "22c8b59c-9e5e-4fca-ac08-7e906e72e3b7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1620,
        1320
      ],
      "id": "f9551c63-c9c1-4018-98d4-f80e9e7fd69a",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const iso = item.json.currentDate;\n\n  // Extract date and time directly from the ISO string\n  const [datePart, timePartWithOffset] = iso.split('T');\n  const timePart = timePartWithOffset.split('+')[0].slice(0, 5); // HH:MM\n\n  return {\n    json: {\n      currentDate: datePart,\n      currentTime: timePart\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        1320
      ],
      "id": "8c3c26f2-22b0-4ff2-b3d2-1124aed2090b",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "// Get current date and time from $input\nconst currentDate = $input.first().json.currentDate; // e.g. \"2025-06-06\"\nconst currentTime = $input.first().json.currentTime; // e.g. \"04:18\"\n\n// Get appointment info from another node (update node name if needed)\nconst appointmentDate = $node[\"Edit Fields1\"].json.Appointment_date; // e.g. \"2025-05-05\"\nconst appointmentTimeRaw = $node[\"Edit Fields1\"].json.Appointment_time; // e.g. \"16:00\"\n\n// Parse and normalize time to HH:mm:ss\nfunction parseAppointmentTime(timeStr) {\n  if (!timeStr) return null;\n  const time = timeStr.trim();\n  const parts = time.split(\":\");\n\n  if (parts.length === 2) {\n    const hh = parts[0].padStart(2, '0');\n    const mm = parts[1].padStart(2, '0');\n    return `${hh}:${mm}:00`;\n  } else if (parts.length === 3) {\n    const hh = parts[0].padStart(2, '0');\n    const mm = parts[1].padStart(2, '0');\n    const ss = parts[2].padStart(2, '0');\n    return `${hh}:${mm}:${ss}`;\n  }\n\n  return null; // Invalid time format\n}\n\nconst appointmentTimeFormatted = parseAppointmentTime(appointmentTimeRaw);\n\n// Compose ISO datetime strings\nconst currentDateTimeStr = `${currentDate}T${currentTime}:00`;\nconst appointmentDateTimeStr = `${appointmentDate}T${appointmentTimeFormatted}`;\n\n// Parse to Date objects\nconst currentDateTime = new Date(currentDateTimeStr);\nconst appointmentDateTime = new Date(appointmentDateTimeStr);\n\n// Validate dates\nif (isNaN(currentDateTime.getTime()) || isNaN(appointmentDateTime.getTime())) {\n  return [\n    {\n      json: {\n        error: \"Invalid date format detected\",\n        callPatient: false\n      }\n    }\n  ];\n}\n\n// Calculate absolute difference in days\nconst diffMs = Math.abs(appointmentDateTime - currentDateTime);\nconst diffDays = diffMs / (1000 * 60 * 60 * 24);\n\n// Return true if difference is more than 14 days (past or future)\nconst callPatient = diffDays > 14;\n\nreturn [\n  {\n    json: {\n      currentDateTime: currentDateTime.toISOString(),\n      appointmentDateTime: appointmentDateTime.toISOString(),\n      diffDays: Math.round(diffDays * 100) / 100,\n      callPatient: callPatient\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        1320
      ],
      "id": "253bd98a-183c-42e9-ba6c-ddbe93fc0df9",
      "name": "Code3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40003cb3-f076-4498-a231-efa30a001f29",
              "name": "Appointment_date",
              "value": "={{ $json.Appointment_date }}",
              "type": "string"
            },
            {
              "id": "b029b3c3-dfd2-4c45-97d1-45c5c7404d62",
              "name": "Appointment_time",
              "value": "={{ $json.Appointment_time }}",
              "type": "string"
            },
            {
              "id": "004d7a7e-83f3-4a73-b49f-3d7da82108cf",
              "name": "Patient_reminder_call",
              "value": "={{ $json.Patient_reminder_call }}",
              "type": "string"
            },
            {
              "id": "6e4289cb-3c63-4c65-97d9-66fc7c7c9b66",
              "name": "Visited_or_not",
              "value": "={{ $json.Visited_or_not }}",
              "type": "string"
            },
            {
              "id": "196f0e6f-080d-48c2-9cff-63c1424d2017",
              "name": "Reason_for_visit",
              "value": "={{ $json.Reason_for_visit }}",
              "type": "string"
            },
            {
              "id": "cad16ae5-3b41-489e-b803-409fbca95bca",
              "name": "Mob No",
              "value": "=+91{{ $json[\"Mob No\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        1320
      ],
      "id": "f9aeb0f5-2658-44ec-a0c5-d3d7bc0d649e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6ddb093-8e5b-40a8-bbee-30e83e77855c",
              "leftValue": "={{ $json.callPatient }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2280,
        1400
      ],
      "id": "f42de9a3-6416-4b1f-9c19-6a9ba456c6cd",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        1400
      ],
      "id": "89008496-567c-450f-9a91-85e46bac03d0",
      "name": "Wait for Call to Complete1",
      "webhookId": "916d934d-c834-4391-a943-2c64a9ae83fd"
    },
    {
      "parameters": {
        "url": "=https://api.vapi.ai/call/{{ $('Make Appointment Call (Anita)').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 377a1e6c-879d-422d-8966-8e490e38ad3d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        1400
      ],
      "id": "560952c9-3f64-4b6a-bb1a-7baf141c71aa",
      "name": "Get Call Transcript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $('Get Call Transcript1').item.json.status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3160,
        1320
      ],
      "id": "51b4afb5-d074-4b33-894d-593ed009d5fc",
      "name": "Check Call Status1"
    },
    {
      "parameters": {
        "jsCode": "// Extract and format the transcript\nconst callData = $input.all()[0].json;\nconst transcript = callData.transcript || callData.messages || [];\n\n// Format transcript for readability\nlet formattedTranscript = \"Call Transcript:\\n\\n\";\n\nif (Array.isArray(transcript)) {\n  transcript.forEach((message, index) => {\n    formattedTranscript += `${message.role || 'Unknown'}: ${message.message || message.content || message.text}\\n`;\n  });\n} else if (typeof transcript === 'string') {\n  formattedTranscript += transcript;\n}\n\nreturn {\n  callId: callData.id,\n  customerName: callData.customer?.name,\n  customerNumber: callData.customer?.number,\n  status: callData.status,\n  duration: callData.duration,\n  cost: callData.cost,\n  transcript: formattedTranscript,\n  rawCallData: callData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3380,
        1280
      ],
      "id": "8827c3e5-9604-4f0d-aa09-0b2f69c54392",
      "name": "Format Transcript1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3380,
        1500
      ],
      "id": "a221bbcf-d23e-4c68-b7c6-eb6406f13ed9",
      "name": "Wait Before Retry1",
      "webhookId": "2b344315-8e59-4d84-accc-544645470997"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transcript: {{ $json.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI summarizer. Your task is to analyze the transcript of a follow-up call between an AI Assistant and a patient (conducted two weeks after their last checkup).\n\nPlease extract only medically or logistically relevant information and return the summary in the following JSON format:\n\n{\n  \"email\": \"<Patient Email or 'None'>\",\n  \"name\": \"<Patient Name or 'None'>\",\n  \"call_summary\": \"Brief summary of what was discussed, in 1–2 lines.\",\n  \"health_review\": \"Summary of any health trends, stability, or improvements.\",\n  \"areas_of_concern\": \"Any symptoms, issues, or health risks mentioned during the call. Use 'None' if not mentioned.\"\n}\n\nGuidelines:\n- Be concise, accurate, and professional.\n- Focus only on medically relevant or follow-up-worthy details.\n- Ignore greetings, small talk, or general chit-chat.\n- Do NOT provide diagnosis or advice — just summarize what's stated.\n- If any field is missing from the transcript, use `\"None\"` as its value.\n- The transcript is from a post-checkup follow-up call, so look for updates on health progress, trends, concerns, or follow-up needs.\n\nWhole Conversation Transcript:\n{{ $json.transcript }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3600,
        1280
      ],
      "id": "5d11e4f6-3789-49ed-a33b-ab14e9fadce2",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3640,
        1500
      ],
      "id": "e3a8bafc-159e-424c-ba5d-e0bcc91c6c84",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "GrzkhvRN9DytMspc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email\": \"None\",\n  \"name\": \"None\",\n  \"call_summary\": \"Call was to confirm the patient's attendance for a dental checkup and address their concern about tooth pain.\",\n  \"health_review\": \"None\",\n  \"areas_of_concern\": \"Tooth pain\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3760,
        1500
      ],
      "id": "5160609d-68bd-41de-9452-18a204b75584",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7OPXD06PT9FB8p",
          "mode": "list",
          "cachedResultName": "vapi-voice-agents",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p"
        },
        "table": {
          "__rl": true,
          "value": "tblOB8kYDiesHghZv",
          "mode": "list",
          "cachedResultName": "2 week report",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p/tblOB8kYDiesHghZv"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Airtable').item.json.Email }}",
            "Name": "={{ $('Airtable').item.json.Name }}",
            "Call_summary": "={{ $json.output.call_summary }}",
            "Health_review": "={{ $json.output.health_review }}",
            "Areas_of_concern": "={{ $json.output.areas_of_concern }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call_summary",
              "displayName": "Call_summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Health_review",
              "displayName": "Health_review",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Areas_of_concern",
              "displayName": "Areas_of_concern",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4120,
        1600
      ],
      "id": "11290ed7-17c0-4de4-857a-21ba8f038b27",
      "name": "Airtable3",
      "credentials": {
        "airtableTokenApi": {
          "id": "7Y0w630yoXHgFYLG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        1120
      ],
      "id": "f9e39ed3-5e6b-4932-a188-616b3407a80d",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 33ecbf2b-981c-4382-bf87-512ba7407a03"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"assistantId\": \"7e2f6cbc-dc1f-4e38-9856-9b86f9b7f3cb\",\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"name\": \"{{ $('Airtable').item.json.Name }}\",\n      \"appointment_date\": \"{{ $('Edit Fields1').item.json.Appointment_date }}\",\n      \"appointment_time\": \"{{ $('Edit Fields1').item.json.Appointment_time }}\",\n      \"location\": \"Sector 50, Gurugram Haryana\",\n      \"appointment_type\": \"{{ $('Edit Fields1').item.json.Reason_for_visit }}\",\n      \"email\": \"{{ $('Airtable').item.json.Email }}\"\n    }\n  },\n  \"customer\": {\n    \"number\": \"{{ $('Edit Fields1').item.json['Mob No'] }}\"\n  },\n  \"phoneNumberId\": \"03039253-8ab6-49f6-b85d-0e15f026e72f\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        1400
      ],
      "id": "3b8dab2f-68cc-489f-ad4b-3364b41603e8",
      "name": "Make Appointment Call (Anita)"
    },
    {
      "parameters": {
        "content": "# 2 Weekly Check-in\n ",
        "height": 80,
        "width": 360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        1280
      ],
      "id": "53870d86-6c8a-4506-b48e-24d8329041cb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7OPXD06PT9FB8p",
          "mode": "list",
          "cachedResultName": "vapi-voice-agents",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p"
        },
        "table": {
          "__rl": true,
          "value": "tblHKzG5xbBCrMRMR",
          "mode": "list",
          "cachedResultName": "Patient Info",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p/tblHKzG5xbBCrMRMR"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patient reminder call": "Yes",
            "Email": "={{ $('Airtable1').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Whatsapp number",
              "displayName": "Whatsapp number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Appointment date",
              "displayName": "Appointment date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Appointment time",
              "displayName": "Appointment time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason for call",
              "displayName": "Reason for call",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mail Send Or Not",
              "displayName": "Mail Send Or Not",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Whatsapp Send or Not",
              "displayName": "Whatsapp Send or Not",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Patient reminder call",
              "displayName": "Patient reminder call",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Calendar event id",
              "displayName": "Calendar event id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4360,
        760
      ],
      "id": "77e73b7d-5a8e-4619-a513-ae631c9a8ffb",
      "name": "Airtable4",
      "credentials": {
        "airtableTokenApi": {
          "id": "7Y0w630yoXHgFYLG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7OPXD06PT9FB8p",
          "mode": "list",
          "cachedResultName": "vapi-voice-agents",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p"
        },
        "table": {
          "__rl": true,
          "value": "tblEw51y6VS6K5ZA3",
          "mode": "list",
          "cachedResultName": "Patient Reminder",
          "cachedResultUrl": "https://airtable.com/app7OPXD06PT9FB8p/tblEw51y6VS6K5ZA3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Two_week_call": "Yes",
            "Email": "={{ $('Airtable3').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Appointment_date",
              "displayName": "Appointment_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Appointment_time",
              "displayName": "Appointment_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Discussion Topic",
              "displayName": "Discussion Topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason for call",
              "displayName": "Reason for call",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Visit or not",
              "displayName": "Visit or not",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Two_week_call",
              "displayName": "Two_week_call",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4340,
        1600
      ],
      "id": "1eba839d-f701-47d0-b7bc-fda00ed2ce37",
      "name": "Airtable5",
      "credentials": {
        "airtableTokenApi": {
          "id": "7Y0w630yoXHgFYLG",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Make Appointment Call (Priya)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Call to Complete": {
      "main": [
        [
          {
            "node": "Get Call Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Call Transcript": {
      "main": [
        [
          {
            "node": "Check Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Call Status": {
      "main": [
        [
          {
            "node": "Format Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Get Call Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Airtable4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Appointment Call (Priya)": {
      "main": [
        [
          {
            "node": "Wait for Call to Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Make Appointment Call (Anita)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Call to Complete1": {
      "main": [
        [
          {
            "node": "Get Call Transcript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Call Transcript1": {
      "main": [
        [
          {
            "node": "Check Call Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Call Status1": {
      "main": [
        [
          {
            "node": "Format Transcript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Retry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry1": {
      "main": [
        [
          {
            "node": "Get Call Transcript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "Airtable5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Appointment Call (Anita)": {
      "main": [
        [
          {
            "node": "Wait for Call to Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0a8ed84260f8d68688e141a2027026f354c377c7fd228996ae3205b00984ade"
  }
}
